#active_menu_color{
	color:#4ea3ff !important;
}
#content_result{
	width: 28%;
	background-color: #444447bf;
	color: white;
}
#content_result #content_img{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}
#content_result #content_img img{
	width: 100%;
}
#content_result #content_info{
	width: 100%;
	display: inline-block;
	margin: 2.5%;
	margin-bottom: 0px;
}
#content_list_adoptions{
	text-align: center;
	margin: 2%;
}
#list_home{
	text-align: center;
	margin: 2%;
}
.content_data_list{
	width: 22%;
	background-color: #444447bf;
	color: white;
	display: inline-block;
	margin: 2%;
	text-align: left;
}
.content_data_list #content_img{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}
.content_data_list #content_img img{
	width: 100%;
}
.content_data_list #content_info{
	width: 100%;
	display: inline-block;
	margin: 2.5%;
	margin-bottom: 0px;
}

#content_best_breeds{
	text-align: center;
}
#best_breeds .best_breed_sel{
	display: inline-block;
	width: 30%;
	margin: 3%;
	color: white;
}
#best_breeds .best_breed_sel_img{
	width: 100%;
	height: 250px;
	background: no-repeat center center;
	background-size: cover;
}
#best_breeds .best_breed_sel_text{
	position: relative;
	bottom: 135px;
	background-color:#6a6a6ac4; 
	font-size: 35px;
}
.list_dogis{
	margin: 1%;
    text-align: center;
}
.list_dogis #content_img{
	width: 58%;
    display: inline-block;
}
.list_dogis #content_img img{
	width: 100%;
}
.list_dogis #content_info{
    text-align: center;
}
.list_dogis #content_info span{
    margin-left: 20px;
}
.list_dogis #content_info #header_list, .list_dogis #content_info #content_list{
	text-align: left;
	display: inline-block;
	width: 64%;
}

#list_home_best_breeds{
	text-align: center;
}

#all_content_gmaps{
	display: inline-block;
}
#all_content_gmaps .maps_content_img{
	width: 20%;
	display:inline-block;
}
#all_content_gmaps .maps_content_img img{
	width: 100%;
}
#all_content_gmaps .maps_content_text{
	width: 100%;
	display:inline-block;
}
#content_gmaps{
	text-align: center;
	margin: 5%;
}
#list_gmaps{
	display: inline-block;
	width: 40%;
	height: 350px;
	text-align: left;
	overflow-y: scroll;
	font-size: 15px;
	font-family: monospace;
}
#list_gmaps div{
	padding-top:15px; 
	padding-bottom: 15px;
}
#list_gmaps div:hover{
	box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.20);
}
#list_gmaps hr{
	margin: 0px;
}
#back_img_404{
	text-align: center;
}
#back_img_404 img{
	width: 62%;
    display: inline-block;

}
.details_gmaps_marker{
	padding: 0px;
    color: #28a745;
    font-family: monospace;
    font-weight: bold;
}
.list_dogis1{
	margin: 40px;
}
.list_dogis1 #content_img{
	width: 46%;
    display: inline-block;
    text-align: center;
}
.list_dogis1 #content_info{
	width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.list_dogis1 #content_img img{
	width: 100%;
}

#all_content_login{
	text-align: center;
	vertical-align: top;
}
#all_content_login #content_login{
	text-align: left;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
#all_content_login #content_register{
	text-align: left;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
/*pagination*/
div.pagination{
  display: inline-block;
}
ul.pagination > li > a {
    border: 1px solid #b6b6b6;
    margin-right:5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 14px;
}

ul.pagination > li > a i{
    margin-left:5px;
    margin-right:5px;
}

/*Bootstrap Modal*/
@media (min-width: 576px){}
	.modal-dialog {
	    max-width: 750px !important;
	}
}
