<script type="text/javascript" src="<?php echo JS_VIEW_ADOPTIONS ?>adoptions_list.js"></script>
<h2>Details</h2>
<div id="content_list_adoptions">
  <form name="search_adoption" id="search_adoption" class="search_adoption">
    <input type="text" value="" placeholder="Buscar raza..." class="input_search" id="keyword" list="datalist">
    <input name="Submit" id="Submit" class="button_search" type="button" value="Buscar" />   
  </form>
  <span id="list_dogs_error" class="alert alert-danger">Introduce alguna letra en la busqueda</span>
  <div id="list_dogs"></div>
  <div class="list_dogis1"></div>
  <div class="pagination"></div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      	<div class="modal-header">
       		<h5 class="modal-title" id="exampleModalLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
	        </button>
	    </div>
      	<div class="modal-body">
			<div class="list_dogis"></div>
      	</div>
     	<div class="modal-footer">
       		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     	</div>
    </div>
  </div>
</div>