<script type="text/javascript" src="<?php echo JS_VIEW_UBICATION ?>list_ubication.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQXVT1dXiqxoOKQen_9K84rN3y8n9K9oI&callback=initMap" async defer></script> 

<h2>Ubicación</h2>
<center>
	<form name="search_breed" id="search_breed" class="search_breed">
	    <input type="text" id="keyword" placeholder="Buscar provincia..." list="datalist">
	</form>
</center>

<div id="content_gmaps">
	<div id="map" style="width:50%; height: 350px; display: inline-block; vertical-align: top; text-align: left;"></div> 
	<div id="list_gmaps"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      	<div class="modal-header">
       		<h5 class="modal-title" id="exampleModalLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
	        </button>
	    </div>
      	<div class="modal-body">
			<div class="list_dogis"></div>
      	</div>
     	<div class="modal-footer">
       		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     	</div>
    </div>
  </div>
</div>

