<script type="text/javascript" src="<?php echo JS_VIEW_LOGIN ?>login_list.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.2.2/auth0.min.js"></script>
<div id="all_content_login">
	<div id="content_login">
		<h3>Login</h3>
		<table>
		    <tr>
		       	<td>Usuario: </td>
		       	<td id="error_luser">
	       			<input type="text" name="luser" id="luser" placeholder="Usuario" value=""/>
		       	</td>
		    </tr>
		    <tr>
		       	<td>Contraseña: </td>
		       	<td id="error_lpasswd">
		       		<input type="password" name="lpasswd" id="lpasswd" placeholder="Contraseña" value=""/>
		      	</td>
		    </tr>
		</table>
		<button name="send_login" id="send_login">Entrar</button><br/>
		<button id="login_auth0">Redes Sociales</button>
		<button id="show_recoverypass">Recuperar contraseña</button>
		<div id="content_revoery_passw">
			<input type="text" id="rpuser" placeholder="Usuario" value=""/>
			<button id="recovery_passw">Recuperar contraseña</button>
		</div>
	</div>
	<div id="content_register">
		<h3>Register</h3>
		<table>
		    <tr>
		       	<td>Usuario: </td>
		       	<td id="error_ruser">
		       		<input type="text" name="ruser" id="ruser" placeholder="Usuario" value=""/>
		      	</td>
		    </tr>
		    <tr>
		       	<td>Correo electronico: </td>
		       	<td id="error_remail">
		       		<input type="text" name="remail" id="remail" placeholder="Correo electronico" value=""/>
		       	</td>
		    </tr>
		 	<tr>
		       	<td>Contraseña: </td>
		       	<td id="error_rpasswd">
		       		<input type="password" name="rpasswd" id="rpasswd" placeholder="Contraseña" value=""/>
		      	</td>
		    </tr>
		    <tr>
		       	<td>Repetir contraseña: </td>
		       	<td id="error_rpasswdr">
		       		<input type="password" name="rpasswdr" id="rpasswdr" placeholder="Repetir contraseña" value=""/>
		      	</td>
		    </tr>
		</table>
		<button name="send_register" id="send_register">Registrarte</button>
	</div>
</div>




