<script type="text/javascript" src="<?php echo JS_VIEW_LOGIN ?>profile_list.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.2.2/auth0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<h2>Profile</h2>

<div id="content_profile_img"></div>
<button id="showinfo">Mostrar perfil</button>
<button id="showeditinfo">Editar perfil</button>
<button id="show_dogs">Mis perros</button>
<button id="show_adoptions">Mis adopciones</button>
<div id="content_profile">
  <div id="list_dogs"></div>
  <div id="list_dogs_adop"></div>
</div>
<div id="content_adoption">
  <div id="mydogs list_dogs"></div>
  <div id="myadoptions list_dogs"></div>
</div>
<button id="blogout">Cerrar sesion</button>

<!-- Modal -->
<div class="modal fade" id="Modaldropzone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-drop">
        	<div id="dropzone" class="dropzone"></div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer_"></div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
        <div class="modal-body">
      <div class="list_dogis"></div>
        </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>