<script type="text/javascript" src="<?php echo JS_VIEW_HOME ?>list_dogs.js"></script>
<h2>Details</h2>
<div id="list_home_best_breeds">
  <div id="content_list">
    <div id="list_dogs"></div>
  </div>
  <button id="returnhome">Volver</button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      	<div class="modal-header">
       		<h5 class="modal-title" id="exampleModalLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
	        </button>
	    </div>
      	<div class="modal-body">
			     <div class="list_dogis"></div>
      	</div>
     	<div class="modal-footer">
       		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     	</div>
    </div>
  </div>
</div>