<script type="text/javascript" src="<?php echo JS_VIEW_HOME ?>list_home.js"></script>

<h2>Busca por nombre</h2>

<center>
	<form name="search_breed" id="search_breed" class="search_breed">
	    <input type="text" value="" placeholder="Buscar nombre..." class="input_search" id="keyword" list="datalist">
	    <input name="Submit" id="Submit" class="button_search" type="button" value="Buscar nombre" />
	</form>
</center>

<div id="list_home"></div>
<span id="list_dogs_error" class="alert alert-danger">Introduce alguna letra en la busqueda</span>

<h2>Razas mas solicitadas</h2>

<div id="content_best_breeds">
	
	<div id="best_breeds"></div>
	<button id="click_scroll" style="text-align: center; display: inline-block;">Mostrar más</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      	<div class="modal-header">
       		<h5 class="modal-title" id="exampleModalLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
	        </button>
	    </div>
      	<div class="modal-body">
			<div class="list_dogis"></div>
      	</div>
     	<div class="modal-footer">
       		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     	</div>
    </div>
  </div>
</div>