<script type="text/javascript" src="<?php echo JS_VIEW_DOGS ?>controller_result.js"></script>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>Perro añadido</h2>
            <p>Vista previa del perro que se ha creado</p>
            <p id="dbmessage"></p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content_result"></div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
